@tailwind base;
@tailwind components;
@tailwind utilities;

/* #progress{
    color: red;
    font-size: .6em;
    line-height: 1.5em;
    text-indent: .5em;
   
    height: 1.8em;
    border: 1px solid #0063a6;
    background: #fff;
  } */
